variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
gcp_credentials.json
jdauphant.nginx
geerlingguy.docker
riemers.gitlab-runner
runner.yml
vault.key
# Vagrant & molecule
.vagrant/
*.pyc
.molecule
.cache
.pytest_cache
# Misc
venv
.vscode
test
.env
*.vars
tls.crt
tls.key
Gitlab_ci
