project			    = "project-id"
public_key_path		= "~/.ssh/appuser.pub"
region              = "europe-west1"
zone                = "europe-west1-b"
cluster_name        = "cluster-1"
cluster_min_ver     = "1.11.6-gke.2"
nodes_count         = "3"
nodes_machine_type  = "g1-small"
nodes_disk_size     = "20"
